// Variables
$primary-color: #0B5362!important;
$rose:#dd0f74;
$background-color:#040714 !important;
$secondary-color: #6c757d;
$font-size-base: 16px;
$font-family-sans-serif: sans-serif;
$boxservices:#121212;
$footer:#000;